name: CI

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: リポジトリのコードを取得
        uses: actions/checkout@v3

      - name: PHPをセットアップ
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: ライブラリをインストール
        run: composer install

      - name: テストを実行
        run: ./vendor/bin/phpunit tests/